body {
    background: #000;
}

.container-fluid {
    padding: 5px;
}

.container {
    padding-left: 5px;
    padding-right: 5px;
}

.header h1 {
    font-family: 'Miltonian', sans-serif;
    text-align: right;
    font-size: 48px;
    text-align: right;
    padding-bottom: 20px;
}
.header h1 a {
    text-decoration: none;
}
.social {
    padding-right: 10px;
}

h3.space {
    min-height: 30px;
}

h3.space a {
    word-wrap: break-word;
}

hr.tight {
    margin: 5px 0;
}

.footer {
    border-top: 1px solid #eee;
    padding-top: 5px;
}

/*.entry {
    margin-bottom: 4px;
    padding: 8px 0;
    background: #BCBB9B;
}*/

/*.entry p {
    margin: 0px;
    font-size: 18px;
    font-weight: bold;
}*/

/*.entry a {
    min-width: 57px;
    padding: 0 15px;
}
*/
.entry {
    background: #BDBB9B;
    margin: 3px 0;
    padding: 0 5px;
}

.data {
    background-color: #DDD;
    padding: 0 5px;
}

.image {
    float: right;
    min-height: 44px;
}

.explanation {
    display: inline;
    }

/*
.data input {
    margin-left: 5px;
}

h3.entry, h3.active, h3.data{
    padding: 5px;
}

.entry img, .active img {
    padding-top: 7px;
}

.active {
    background-color: #DDD;
    margin-top: 3px;
}
*/
/*.entry i {
    vertical-align: middle;
}*/