div.container
    div.row
        div.span12
            h2.center TrackingTally 
    div.row
        form#entryForm 
            input(type='hidden', id='user_id', value=user.id)
            div#entryForm.span6
                div.data.row
                    div.data.row
                        div.span6
                            input(type="text", placeholder="Verb").span6
                    div.data.row
                        div.span6
                            input(type="text", placeholder="Quantifier").span6
                    div.data.row
                        div.span6
                            input(type="text", placeholder="Adjective").span6
                    div.data.row
                        div.span6
                            input(type="text", placeholder="Noun").span6
                    div.data.row
                        div.span6
                            input(type="text", placeholder="Comment").span6
                    div.data.row
                        div.span6
                            h3#position.explanation
                            span.image
                                img(src="/images/glyphicons/png/glyphicons_192_circle_remove.png")
                    div.data.row
                        div.span6
                            h3.explanation Public
                            span.image
                                img(src="/images/glyphicons/png/glyphicons_192_circle_remove.png")
                    div.data.row
                        div.span6
                            h3.explanation Cancel
                            span.image
                                img(src="/images/glyphicons/png/glyphicons_192_circle_remove.png")
                    div.data.row
                        div.span6
                            h3.explanation Save
                            span.image
                                img(src="/images/glyphicons/png/glyphicons_192_circle_remove.png")

        div#entriesDisplay.span6.entries
            partial('entries')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
script(src='/javascript/location.js')
script(src='/javascript/entries.js')
script
    getUserLocation();
    getUsersEntries();