div.navbar.navbar-fixed-top
    div.navbar-inner
        div.container-fluid
            a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.brand(href='/') willcount
            
div.container-fluid
    div.row-fluid
        div.span6
            form(id='entryForm', action='/', method='post')
                input(type='hidden', id='user_id', value=everyauth.user.id)
                div#entryForm
                    div.data.row-fluid
                        div.span12
                            input(type="text", placeholder="Verb", id="entryverb").span12
                    div.data.row-fluid
                        div.span12
                            input(type="text", placeholder="Quantifier", id="entryquantifier").span12
                    div.data.row-fluid
                        div.span12
                            input(type="text", placeholder="Adjective", id="entryadjective").span12
                    div.data.row-fluid
                        div.span12
                            input(type="text", placeholder="Noun", id="entrynoun").span12
                    div.data.row-fluid
                        div.span12
                            input(type="text", placeholder="Comment", id="entrycomment").span12
                    //div.data.row-fluid
                    //    div.span6
                    //        h3#position.explanation
                            input(type="hidden", id="entrylatitude")
                            input(type="hidden", id="entrylongitude")                            
                    //div.data.row-fluid
                    //    div.span6
                    //        h3.explanation Public
                    div.data.row-fluid
                        div.span12
                            input(type='button', id='cancelButton', class='btn btn-primary btn-large', value="Cancel")
                            input(type='submit', class='btn btn-primary btn-large').pull-right           
        div#entriesDisplay.span6.entries
          p Please wait. Loading...
hr

script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
script(src='/bootstrap/js/bootstrap-collapse.js')
script(src='/javascript/location.js')
script(src='/javascript/entries.js')
script(src='/javascript/moment.min.js')
script
    var today = new Date();
    dateFormat = 'MMM DD, YYYY';
    getUserLocation();
    getUsersEntries();
    initializeSaveHandler();
    initilizeCancelHandler();