
.container-fluid
    padding: 5px

.container
    padding-left: 5px
    padding-right: 5px

.header h1
    font-family: 'Miltonian', sans-serif
    text-align: right
    font-size: 48px
    text-align: right
    padding-bottom: 20px

.header h1 a
    text-decoration: none

.social
    padding-right: 10px
h2
    background: #BDBB9B

.center
    text-align: center

h3.space
    min-height: 30px

h3.space a
    word-wrap: break-word

hr.tight
    margin: 5px 0

.footer
    border-top: 1px solid #eee
    padding-top: 5px

#entryForm, #entriesDisplay
    margin-top:10px
    
input[type=text]
    font-size:18px;

.entry
    background: #BDBB9B
    margin-top: 3px
    margin-bottom: 3px
    padding: 0 5px

.image
    float: right
    min-height: 44px

.explanation
    display: inline
    
.placeEntry, .moveDate
    cursor: pointer
    
.entrySave    
    cursor: pointer
    text-decoration: none
    
.oneFifths
    min-width: 20%
    max-width: 20%

.twoFifths
    width: 40%    

.threeFifths
    width: 60%

.fourFifths    
    width: 80%

.halfWidth
    float: left
    width: 50%;